<div class="well">
  <form class="form-horizontal" name='playlistForm'>
    <fieldset>
      <legend>New Playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input name='playlistName' class="form-control" type="text" ng-model='playlist.name' ng-maxlength='16' required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <div class="alert alert-warning" ng-show='playlistForm.playlistName.$error.required&&playlistForm.playlistName.$dirty'>Please enter a name</div>
          <div class="alert alert-warning" ng-show='playlistForm.playlistName.$error.maxlength'>Name must be no more than 16 characters.</div>
          <button type="submit" class="btn btn-success" ng-click='submitPlaylist(playlist)' ng-disabled='playlistForm.$error.required||playlistForm.$error.maxlength'>Create Playlist</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>